@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700;800&display=swap");

:root {
  font-size: 20px;
  box-sizing: inherit;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font: 1em/1.618 sans-serif;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 30px;
  color: #224;
  background: url(https://images.unsplash.com/photo-1665088587830-ca8529af39ca?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80)
    center / cover no-repeat fixed;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 10px;
  min-height: 100vh;
  padding: 30px;
  gap: 10px;
}

.card {
  max-width: 300px;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);

  backdrop-filter: blur(15px);
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.card-title {
  color: #5898b9;
  font-weight: bold;
}

h1 {
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 2px dimgray;
  font-weight: bold;
}

.button {
  display: inline-block;
  padding: 0.5em 1.7em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid #9ea4be;
  background-color: #5898b9;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
  text-align: center;
  transition: all 0.2s;
}

.button:hover {
  background-color: #9ea4be;
  border: 0.16em solid #5898b9;
}
